.cart-modal {
    position: fixed;
    top: 60px; /* Ajuste este valor conforme necessário */
    right: 20px; /* Ajuste este valor conforme necessário */
    z-index: 1050; /* Para garantir que o modal fique sobre outros elementos */
    width: 300px; /* Ajuste conforme necessário */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    display: none; /* Escondido por padrão */
  }
  
  .cart-modal.show {
    display: block; /* Mostra quando a classe "show" é adicionada */
  }
  
.navbar {
    background-color: #555b61;
}

.Brand, .list_item {
    color: #fff !important;
    transition: transform .2s;
}

.Searchbar .form-control {
    color: black !important;
}


.ms-auto {
    gap: 36px;
}

.botao_cadastro {
    background-color: tomato !important;
    border: none;
    border-radius: 20px;
}

button.navbar-toggler.collapsed {
    background-color: #fff !important;
}

button.navbar-toggler {
    background-color: #fff !important;
}

@media (max-width: 991px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-form {
        width: 80%;
        margin: 0 auto; 
        margin-bottom: 1rem;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
    }

    .icon {
        margin: 0.5rem 0;
    }

    .nav-menu .nav-link {
        width: 100%;
    }
}

